.content {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .content {
        width: 90%;
    }
}

.title {
    font-size: 5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3.5rem;
    }
}

.tools {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.actions, .filters {
    flex-basis: calc(50% - 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    flex-basis: calc(50% - 1rem);
    justify-content: center;
    align-items: center;
    background-color: #111111;
}

.action {
    flex-basis: calc(50% - 1rem);
    height: 100%;
    background-color: #444444;
    border: none;
    border-radius: 1rem;
    color: #e8e8e8;
    transition: all 200ms ease;
}

.action:hover {
    cursor: pointer;
    background-color: #e30b5a83;
}

.action__icon {
    font-size: 3rem;
}

.action__text {
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    .action__text {
        font-size: 1.4rem;
    }
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.cards-wrapper--01 {
    grid-auto-rows: minmax(25rem, auto);
}

.cards-wrapper--02 {
    grid-auto-rows: minmax(10rem, auto);
}

/* simple card test */
.simple-card {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}

.simple-card:hover {
    cursor: pointer;
    background-color: #444444;
}

.simple-card__text {
    font-size: 1.8rem;
    color: #e8e8e8;
}
