.side-action {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem minmax(40rem, 100%) 10rem;
    overflow-y: auto;
    transition: all 200ms ease-in-out;
}

.side-action--active {
    right: 0;
}

.side-action--inactive {
    right: -100vw;
}

.close-btn {
    width: 15rem;
    height: 100%;
    background-color: rgba(255, 255, 255, 10%);
    border: none;
    font-size: 3rem;
    color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: all 200ms ease;
}

.close-btn:hover {
    cursor: pointer;
    background-color: #E30B5C;
}

.sa-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sa-title {
    font-size: 5rem;
    margin: 2rem 0;
}

@media screen and (max-width: 768px) {
    .sa-title {
        font-size: 4rem;
    }
}

.sa-footer {
    background-color: #131313;
}
