.side-action {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.side-action--active {
    right: 0;
}

.side-action--inactive {
    right: -100vw;
}
